-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: blsi-ph.com    Database: cnd
-- ------------------------------------------------------
-- Server version	10.6.24-MariaDB-cll-lve

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `Positions`
--

DROP TABLE IF EXISTS `Positions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `Positions` (
  `ID` int(11) NOT NULL AUTO_INCREMENT,
  `Title` varchar(100) NOT NULL,
  `Description` varchar(255) DEFAULT NULL,
  `Active` tinyint(1) NOT NULL DEFAULT 1,
  `CreatedBy` varchar(50) DEFAULT NULL,
  `CreatedDate` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `accountcategory`
--

DROP TABLE IF EXISTS `accountcategory`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `accountcategory` (
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `Code` varchar(50) DEFAULT NULL,
  `Name` varchar(250) DEFAULT NULL,
  `Active` tinyint(1) DEFAULT NULL,
  `CreatedBy` varchar(150) DEFAULT NULL,
  `CreatedDate` datetime DEFAULT NULL,
  `ModifyBy` varchar(150) DEFAULT NULL,
  `ModifyDate` datetime DEFAULT NULL,
  `AccountSubTypeID` bigint(20) DEFAULT NULL,
  PRIMARY KEY (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=95 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `accountsubtype`
--

DROP TABLE IF EXISTS `accountsubtype`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `accountsubtype` (
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `Code` varchar(50) DEFAULT NULL,
  `Name` varchar(250) DEFAULT NULL,
  `Active` tinyint(1) DEFAULT NULL,
  `CreatedBy` varchar(150) DEFAULT NULL,
  `CreatedDate` datetime DEFAULT NULL,
  `ModifyBy` varchar(150) DEFAULT NULL,
  `ModifyDate` datetime DEFAULT NULL,
  `AccountTypeID` bigint(20) DEFAULT NULL,
  PRIMARY KEY (`ID`),
  UNIQUE KEY `PK_Account SubType` (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=34 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `accounttype`
--

DROP TABLE IF EXISTS `accounttype`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `accounttype` (
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `Code` varchar(50) DEFAULT NULL,
  `Name` varchar(250) DEFAULT NULL,
  `Active` tinyint(1) DEFAULT NULL,
  `CreatedBy` varchar(150) DEFAULT NULL,
  `CreatedDate` datetime DEFAULT NULL,
  `ModifyBy` varchar(150) DEFAULT NULL,
  `ModifyDate` datetime DEFAULT NULL,
  PRIMARY KEY (`ID`),
  UNIQUE KEY `PK_Account Type` (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `apar`
--

DROP TABLE IF EXISTS `apar`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `apar` (
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `LinkID` varchar(50) DEFAULT NULL,
  `APAR` varchar(50) DEFAULT NULL,
  `RequestedBy` bigint(20) DEFAULT NULL,
  `RequestedDate` date DEFAULT NULL,
  `BudgetID` bigint(20) DEFAULT NULL,
  `VendorID` bigint(20) DEFAULT NULL,
  `CustomerID` bigint(20) DEFAULT NULL,
  `ReferenceNumber` varchar(50) DEFAULT NULL,
  `PONumber` varchar(50) DEFAULT NULL,
  `DRNumber` varchar(50) DEFAULT NULL,
  `BillingDate` datetime DEFAULT NULL,
  `BillingDueDate` date DEFAULT NULL,
  `Total` decimal(18,2) DEFAULT NULL,
  `Remarks` text DEFAULT NULL,
  `Active` tinyint(1) DEFAULT NULL,
  `CreatedBy` varchar(150) DEFAULT NULL,
  `CreatedDate` datetime DEFAULT NULL,
  `ModifyBy` varchar(150) DEFAULT NULL,
  `ModifyDate` datetime DEFAULT NULL,
  `PaymentMethodID` bigint(20) DEFAULT NULL,
  `PaymentTermsID` bigint(20) DEFAULT NULL,
  `BillingNumber` bigint(20) DEFAULT NULL,
  `Status` varchar(50) DEFAULT NULL,
  `DocumentTypeID` bigint(20) DEFAULT NULL,
  `uniqueID` varchar(50) DEFAULT NULL,
  `InvoiceDate` date DEFAULT NULL,
  PRIMARY KEY (`ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `approvalaudit`
--

DROP TABLE IF EXISTS `approvalaudit`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `approvalaudit` (
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `LinkID` bigint(20) DEFAULT NULL,
  `InvoiceLink` bigint(20) DEFAULT NULL,
  `PositionorEmployee` varchar(50) DEFAULT NULL,
  `PositionorEmployeeID` bigint(20) DEFAULT NULL,
  `SequenceOrder` int(11) DEFAULT NULL,
  `ApprovalOrder` int(11) DEFAULT NULL,
  `ApprovalDate` date DEFAULT NULL,
  `RejectionDate` date DEFAULT NULL,
  `Remarks` varchar(250) DEFAULT NULL,
  `CreatedBy` varchar(250) DEFAULT NULL,
  `CreatedDate` datetime DEFAULT NULL,
  `ApprovalVersion` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=225 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `approvalmatrix`
--

DROP TABLE IF EXISTS `approvalmatrix`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `approvalmatrix` (
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `LinkID` bigint(20) DEFAULT NULL,
  `DocumentTypeID` bigint(20) DEFAULT NULL,
  `Version` int(11) DEFAULT NULL,
  `SequenceLevel` varchar(50) DEFAULT NULL,
  `AllorMajority` varchar(150) DEFAULT NULL,
  `NumberofApprover` int(11) DEFAULT NULL,
  `Active` tinyint(1) DEFAULT NULL,
  `CreatedBy` varchar(250) DEFAULT NULL,
  `CreatedDate` datetime DEFAULT NULL,
  `AlteredBy` varchar(250) DEFAULT NULL,
  `AlteredDate` datetime DEFAULT NULL,
  PRIMARY KEY (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=61 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `approvalmatrixtemp`
--

DROP TABLE IF EXISTS `approvalmatrixtemp`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `approvalmatrixtemp` (
  `ID` bigint(20) NOT NULL,
  `LinkID` bigint(20) DEFAULT NULL,
  `DocumentTypeID` bigint(20) DEFAULT NULL,
  `Version` int(11) DEFAULT NULL,
  `SequenceLevel` varchar(50) DEFAULT NULL,
  `AllorMajority` varchar(150) DEFAULT NULL,
  `NumberofApprover` int(11) DEFAULT NULL,
  `Active` tinyint(1) DEFAULT NULL,
  `CreatedBy` varchar(250) DEFAULT NULL,
  `CreatedDate` datetime DEFAULT NULL,
  `AlteredBy` varchar(250) DEFAULT NULL,
  `AlteredDate` datetime DEFAULT NULL,
  PRIMARY KEY (`ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `approvers`
--

DROP TABLE IF EXISTS `approvers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `approvers` (
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `LinkID` bigint(20) DEFAULT NULL,
  `ApprovalVersion` int(11) DEFAULT NULL,
  `PositionorEmployee` varchar(50) DEFAULT NULL,
  `PositionorEmployeeID` bigint(20) DEFAULT NULL,
  `AmountFrom` decimal(18,2) DEFAULT NULL,
  `AmountTo` decimal(18,2) DEFAULT NULL,
  PRIMARY KEY (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=80 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `approverstemp`
--

DROP TABLE IF EXISTS `approverstemp`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `approverstemp` (
  `ID` bigint(20) NOT NULL,
  `LinkID` bigint(20) DEFAULT NULL,
  `PositionorEmployee` varchar(50) DEFAULT NULL,
  `PositionorEmployeeID` bigint(20) DEFAULT NULL,
  `AmountFrom` decimal(18,2) DEFAULT NULL,
  `AmountTo` decimal(18,2) DEFAULT NULL,
  `ApprovalVersion` int(11) DEFAULT NULL,
  PRIMARY KEY (`ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `assessmentlevel`
--

DROP TABLE IF EXISTS `assessmentlevel`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `assessmentlevel` (
  `ID` bigint(20) NOT NULL,
  `ClassificationID` bigint(20) DEFAULT NULL,
  `From` decimal(18,2) DEFAULT NULL,
  `To` decimal(18,2) DEFAULT NULL,
  `AssessmentLevel` int(11) DEFAULT NULL,
  `Createdby` bigint(20) DEFAULT NULL,
  `CreatedDate` date DEFAULT NULL,
  `Modifiedby` bigint(20) DEFAULT NULL,
  `ModifiedDate` date DEFAULT NULL,
  `Ative` tinyint(1) DEFAULT NULL,
  `UsingStatus` tinyint(1) DEFAULT NULL,
  PRIMARY KEY (`ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `assignsubdepartment`
--

DROP TABLE IF EXISTS `assignsubdepartment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `assignsubdepartment` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `LinkID` bigint(20) DEFAULT NULL,
  `DepartmentID` bigint(20) DEFAULT NULL,
  `SubdepartmentID` bigint(20) DEFAULT NULL,
  `Active` tinyint(1) DEFAULT NULL,
  `CreatedBy` varchar(50) DEFAULT NULL,
  `CreatedDate` datetime DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `attachment`
--

DROP TABLE IF EXISTS `attachment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `attachment` (
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `LinkID` bigint(20) DEFAULT NULL,
  `DataImage` varchar(500) DEFAULT NULL,
  `DataName` varchar(250) DEFAULT NULL,
  `DataType` varchar(1000) DEFAULT NULL,
  PRIMARY KEY (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `attachment_temp`
--

DROP TABLE IF EXISTS `attachment_temp`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `attachment_temp` (
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `LinkID` bigint(20) DEFAULT NULL,
  `DataImage` blob DEFAULT NULL,
  `DataName` varchar(250) DEFAULT NULL,
  `DataType` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `audittrail`
--

DROP TABLE IF EXISTS `audittrail`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `audittrail` (
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `Module` varchar(150) DEFAULT NULL,
  `Action` varchar(50) DEFAULT NULL,
  `Script` text DEFAULT NULL,
  `ParamValues` text DEFAULT NULL,
  `CreatedDate` datetime DEFAULT NULL,
  PRIMARY KEY (`ID`),
  UNIQUE KEY `PK_Audit Trail` (`ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `bank`
--

DROP TABLE IF EXISTS `bank`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bank` (
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `BranchCode` varchar(50) DEFAULT NULL,
  `Branch` varchar(150) DEFAULT NULL,
  `Name` varchar(150) DEFAULT NULL,
  `Address` varchar(500) DEFAULT NULL,
  `AccountNumber` varchar(150) DEFAULT NULL,
  `IBAN` varchar(150) DEFAULT NULL,
  `SwiftCode` varchar(150) DEFAULT NULL,
  `Balance` decimal(18,2) DEFAULT NULL,
  `CurrencyID` bigint(20) DEFAULT NULL,
  `Active` tinyint(1) DEFAULT NULL,
  `CreatedBy` varchar(50) DEFAULT NULL,
  `CreatedDate` datetime DEFAULT NULL,
  `ModifyBy` varchar(150) DEFAULT NULL,
  `ModifyDate` datetime DEFAULT NULL,
  PRIMARY KEY (`ID`),
  UNIQUE KEY `PK_Bank` (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `barangay`
--

DROP TABLE IF EXISTS `barangay`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `barangay` (
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `BarangayCode` varchar(50) DEFAULT NULL,
  `Name` varchar(250) DEFAULT NULL,
  `RegionCode` varchar(50) DEFAULT NULL,
  `ProvinceCode` varchar(50) DEFAULT NULL,
  `MunicipalityCode` varchar(50) DEFAULT NULL,
  `Active` tinyint(1) DEFAULT NULL,
  `CreatedBy` varchar(150) DEFAULT NULL,
  `CreatedDate` datetime DEFAULT NULL,
  `ModifyBy` varchar(150) DEFAULT NULL,
  `ModifyDate` datetime DEFAULT NULL,
  `PIN` int(11) DEFAULT NULL,
  PRIMARY KEY (`ID`),
  UNIQUE KEY `PK_Barangay` (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `beginningbalance`
--

DROP TABLE IF EXISTS `beginningbalance`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `beginningbalance` (
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `FiscalYearID` bigint(20) DEFAULT NULL,
  `FundsID` bigint(20) DEFAULT NULL,
  `ChartofAccountsCode` varchar(50) DEFAULT NULL,
  `BeginningBalance` decimal(18,2) DEFAULT NULL,
  `TransactionType` varchar(50) DEFAULT NULL,
  `CreatedBy` varchar(150) DEFAULT NULL,
  `CreatedDate` datetime DEFAULT NULL,
  `ModifyBy` varchar(150) DEFAULT NULL,
  `ModifyDate` datetime DEFAULT NULL,
  PRIMARY KEY (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `budget`
--

DROP TABLE IF EXISTS `budget`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `budget` (
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `FiscalYearID` bigint(20) DEFAULT NULL,
  `FundID` bigint(20) DEFAULT NULL,
  `ProjectID` bigint(20) DEFAULT NULL,
  `Name` varchar(250) DEFAULT NULL,
  `DepartmentID` int(11) DEFAULT NULL,
  `SubDepartmentID` bigint(20) DEFAULT NULL,
  `ChartofAccountsID` bigint(20) DEFAULT NULL,
  `Appropriation` decimal(18,2) DEFAULT NULL,
  `TotalAmount` decimal(18,2) DEFAULT NULL,
  `AppropriationBalance` decimal(18,2) DEFAULT NULL,
  `Change` decimal(18,2) DEFAULT NULL,
  `Supplemental` decimal(18,2) DEFAULT NULL,
  `Transfer` decimal(18,2) DEFAULT NULL,
  `Released` decimal(18,2) DEFAULT NULL,
  `AllotmentBalance` decimal(18,2) DEFAULT NULL,
  `ChargedAllotment` decimal(18,2) DEFAULT NULL,
  `PreEncumbrance` decimal(18,2) DEFAULT NULL,
  `Encumbrance` decimal(18,2) DEFAULT NULL,
  `Charges` decimal(18,2) DEFAULT NULL,
  `January` decimal(18,2) DEFAULT NULL,
  `February` decimal(18,2) DEFAULT NULL,
  `March` decimal(18,2) DEFAULT NULL,
  `April` decimal(18,2) DEFAULT NULL,
  `May` decimal(18,2) DEFAULT NULL,
  `June` decimal(18,2) DEFAULT NULL,
  `July` decimal(18,2) DEFAULT NULL,
  `August` decimal(18,2) DEFAULT NULL,
  `September` decimal(18,2) DEFAULT NULL,
  `October` decimal(18,2) DEFAULT NULL,
  `November` decimal(18,2) DEFAULT NULL,
  `December` decimal(18,2) DEFAULT NULL,
  `RevisedAmount` decimal(18,2) DEFAULT NULL,
  `Active` tinyint(1) DEFAULT NULL,
  `CreatedBy` varchar(150) DEFAULT NULL,
  `CreatedDate` datetime NOT NULL,
  `ModifyBy` varchar(150) DEFAULT NULL,
  `ModifyDate` datetime DEFAULT NULL,
  PRIMARY KEY (`ID`),
  UNIQUE KEY `PK_Budget` (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `budgetchange`
--

DROP TABLE IF EXISTS `budgetchange`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `budgetchange` (
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `BudgetID` bigint(20) DEFAULT NULL,
  `BudgetTypeID` bigint(20) DEFAULT NULL,
  `BudgetFrom` bigint(20) DEFAULT NULL,
  `BudgetTo` bigint(20) DEFAULT NULL,
  `Amount` decimal(18,2) DEFAULT NULL,
  `Acive` tinyint(1) DEFAULT NULL,
  `CreatedBy` varchar(150) DEFAULT NULL,
  `CreatedDate` datetime DEFAULT NULL,
  `ModifyBy` varchar(150) DEFAULT NULL,
  `ModifyDate` datetime DEFAULT NULL,
  `Name` text DEFAULT NULL,
  `January` decimal(18,2) DEFAULT NULL,
  `February` decimal(18,2) DEFAULT NULL,
  `March` decimal(18,2) DEFAULT NULL,
  `April` decimal(18,2) DEFAULT NULL,
  `May` decimal(18,2) DEFAULT NULL,
  `June` decimal(18,2) DEFAULT NULL,
  `July` decimal(18,2) DEFAULT NULL,
  `August` decimal(18,2) DEFAULT NULL,
  `September` decimal(18,2) DEFAULT NULL,
  `October` decimal(18,2) DEFAULT NULL,
  `November` decimal(18,2) DEFAULT NULL,
  `December` decimal(18,2) DEFAULT NULL,
  `FiscalYearID` bigint(20) DEFAULT NULL,
  `DepartmentID` bigint(20) DEFAULT NULL,
  `SubDepartmentID` bigint(20) DEFAULT NULL,
  `ChartofAccountsID` bigint(20) DEFAULT NULL,
  `Active` tinyint(1) DEFAULT NULL,
  `TotalAmount` decimal(18,2) DEFAULT NULL,
  PRIMARY KEY (`ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `budgettype`
--

DROP TABLE IF EXISTS `budgettype`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `budgettype` (
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `Code` varchar(50) DEFAULT NULL,
  `Name` varchar(250) DEFAULT NULL,
  `Active` tinyint(1) DEFAULT NULL,
  `CreatedBy` varchar(150) DEFAULT NULL,
  `CreatedDate` datetime DEFAULT NULL,
  `ModifyBy` varchar(150) DEFAULT NULL,
  `ModifyDate` datetime DEFAULT NULL,
  PRIMARY KEY (`ID`),
  UNIQUE KEY `PK_Budget Type` (`ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `buildingcomponents`
--

DROP TABLE IF EXISTS `buildingcomponents`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `buildingcomponents` (
  `ID` bigint(20) NOT NULL,
  `BuildingComponents` varchar(50) DEFAULT NULL,
  `PIN` bigint(20) DEFAULT NULL,
  `Createdby` bigint(20) DEFAULT NULL,
  `CreatedDate` date DEFAULT NULL,
  `Modifiedby` bigint(20) DEFAULT NULL,
  `ModifiedDate` date DEFAULT NULL,
  PRIMARY KEY (`ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `burialrecord`
--

DROP TABLE IF EXISTS `burialrecord`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `burialrecord` (
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `LinkID` bigint(20) DEFAULT NULL,
  `CustomerID` bigint(20) DEFAULT NULL,
  `DeceasedCustomerID` bigint(20) DEFAULT NULL,
  `CauseofDeath` varchar(50) DEFAULT NULL,
  `Nationality` varchar(50) DEFAULT NULL,
  `DeathDate` date DEFAULT NULL,
  `Cementery` varchar(50) DEFAULT NULL,
  `BurialType` varchar(50) DEFAULT NULL,
  `Infectious` tinyint(1) DEFAULT NULL,
  `Embalmed` tinyint(1) DEFAULT NULL,
  `Disposition` varchar(50) DEFAULT NULL,
  `Sex` varchar(50) DEFAULT NULL,
  `Age` int(11) DEFAULT NULL,
  `CreatedDate` date DEFAULT NULL,
  `CreatedBy` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `business_permits`
--

DROP TABLE IF EXISTS `business_permits`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `business_permits` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `applicantType` varchar(50) DEFAULT NULL,
  `modeOfPayment` varchar(50) DEFAULT NULL,
  `dateOfApplication` date DEFAULT NULL,
  `dtiSecCdaRegistrationNo` varchar(100) DEFAULT NULL,
  `dtiSecCdaRegistrationDate` date DEFAULT NULL,
  `tinNo` varchar(100) DEFAULT NULL,
  `typeOfBusiness` varchar(100) DEFAULT NULL,
  `amendmentFrom` varchar(100) DEFAULT NULL,
  `amendmentTo` varchar(100) DEFAULT NULL,
  `taxIncentiveFromGovEntity` varchar(10) DEFAULT 'no',
  `lastName` varchar(100) DEFAULT NULL,
  `firstName` varchar(100) DEFAULT NULL,
  `middleName` varchar(100) DEFAULT NULL,
  `businessName` varchar(255) DEFAULT NULL,
  `tradeNameFranchise` varchar(255) DEFAULT NULL,
  `businessRegion` varchar(100) DEFAULT NULL,
  `businessProvince` varchar(100) DEFAULT NULL,
  `businessMunicipality` varchar(100) DEFAULT NULL,
  `businessBarangay` varchar(100) DEFAULT NULL,
  `businessStreetAddress` varchar(255) DEFAULT NULL,
  `postalCode` varchar(20) DEFAULT NULL,
  `emailAddress` varchar(100) DEFAULT NULL,
  `telephoneNo` varchar(50) DEFAULT NULL,
  `mobileNo` varchar(50) DEFAULT NULL,
  `ownerStreetAddress` varchar(255) DEFAULT NULL,
  `ownerBarangay` varchar(100) DEFAULT NULL,
  `ownerMunicipality` varchar(100) DEFAULT NULL,
  `ownerRegion` varchar(100) DEFAULT NULL,
  `ownerPostalCode` varchar(20) DEFAULT NULL,
  `ownerEmailAddress` varchar(100) DEFAULT NULL,
  `ownerTelephoneNo` varchar(50) DEFAULT NULL,
  `ownerMobileNo` varchar(50) DEFAULT NULL,
  `emergencyContactPerson` varchar(100) DEFAULT NULL,
  `emergencyContactNumber` varchar(50) DEFAULT NULL,
  `emergencyContactEmail` varchar(100) DEFAULT NULL,
  `businessArea` float DEFAULT 0,
  `totalEmployees` int(11) DEFAULT 0,
  `employeesResidingWithLgli` int(11) DEFAULT 0,
  `lessorFullName` varchar(100) DEFAULT NULL,
  `lessorAddress` varchar(255) DEFAULT NULL,
  `lessorContactNumber` varchar(50) DEFAULT NULL,
  `lessorEmail` varchar(100) DEFAULT NULL,
  `monthlyRental` decimal(15,2) DEFAULT 0.00,
  `lineOfBusiness` varchar(255) DEFAULT NULL,
  `numberOfUnits` int(11) DEFAULT 0,
  `capitalization` decimal(15,2) DEFAULT 0.00,
  `grossSales` decimal(15,2) DEFAULT 0.00,
  `status` varchar(50) DEFAULT 'Pending',
  `createdAt` datetime NOT NULL,
  `updatedAt` datetime NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `businessactivity`
--

DROP TABLE IF EXISTS `businessactivity`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `businessactivity` (
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `LinkID` bigint(20) DEFAULT NULL,
  `LineofBusiness` varchar(150) DEFAULT NULL,
  `NoUnits` varchar(50) DEFAULT NULL,
  `Capitalization` decimal(18,2) DEFAULT NULL,
  `GrossSales` decimal(18,2) DEFAULT NULL,
  PRIMARY KEY (`ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `businessapplication`
--

DROP TABLE IF EXISTS `businessapplication`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `businessapplication` (
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `LinkID` bigint(20) DEFAULT NULL,
  `ApplicantType` varchar(50) DEFAULT NULL,
  `ModeofPayment` varchar(150) DEFAULT NULL,
  `ApplicationDate` date DEFAULT NULL,
  `DTI_SEC_CDA_Registration` varchar(150) DEFAULT NULL,
  `DTI_SEC_CDA_Registration_Date` date DEFAULT NULL,
  `BusinessType` varchar(50) DEFAULT NULL,
  `Amendmentfrom` varchar(50) DEFAULT NULL,
  `Amendmentto` varchar(50) DEFAULT NULL,
  `TaxIncentives` varchar(150) DEFAULT NULL,
  `CustomerID` bigint(20) DEFAULT NULL,
  `BusinessName` varchar(250) DEFAULT NULL,
  `Trade_Name_Franchise` varchar(250) DEFAULT NULL,
  `StreetAddress` varchar(150) DEFAULT NULL,
  `BarangayID` bigint(20) DEFAULT NULL,
  `MunicipalityID` varchar(50) DEFAULT NULL,
  `ProvinceID` varchar(50) DEFAULT NULL,
  `RegionID` varchar(50) DEFAULT NULL,
  `ZIPCode` varchar(50) DEFAULT NULL,
  `TelephoneNumber` varchar(50) DEFAULT NULL,
  `MobileNumber` varchar(50) DEFAULT NULL,
  `EmailAddress` varchar(50) DEFAULT NULL,
  `BusinessArea` varchar(150) DEFAULT NULL,
  `TotalEmployee` varchar(150) DEFAULT NULL,
  `LessorFullName` varchar(250) DEFAULT NULL,
  `MonthlyRental` decimal(18,2) DEFAULT NULL,
  `BusinessActivityID` bigint(20) DEFAULT NULL,
  `Active` tinyint(1) DEFAULT NULL,
  `CreatedBy` varchar(150) DEFAULT NULL,
  `CreatedDate` datetime DEFAULT NULL,
  `ModifyBy` varchar(150) DEFAULT NULL,
  `ModifyDate` datetime DEFAULT NULL,
  `LessorAddress` varchar(250) DEFAULT NULL,
  `LessorNumber` varchar(150) DEFAULT NULL,
  `LessorEmail` varchar(150) DEFAULT NULL,
  `Rental` decimal(18,2) DEFAULT NULL,
  `ContactPerson` varchar(150) DEFAULT NULL,
  `ContactNumber` varchar(150) DEFAULT NULL,
  `ContactEmail` varchar(150) DEFAULT NULL,
  `ResidingLGU` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `chartofaccounts`
--

DROP TABLE IF EXISTS `chartofaccounts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `chartofaccounts` (
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `AccountCode` varchar(150) DEFAULT NULL,
  `Code` varchar(50) DEFAULT NULL,
  `Name` varchar(250) DEFAULT NULL,
  `Description` text DEFAULT NULL,
  `AccountTypeID` bigint(20) DEFAULT NULL,
  `AccountSubTypeID` bigint(20) DEFAULT NULL,
  `AccountCategoryID` bigint(20) DEFAULT NULL,
  `NormalBalance` varchar(50) DEFAULT NULL,
  `Active` tinyint(1) DEFAULT NULL,
  `CreatedBy` varchar(150) DEFAULT NULL,
  `CreatedDate` datetime DEFAULT NULL,
  `ModifyBy` varchar(150) DEFAULT NULL,
  `ModifyDate` datetime DEFAULT NULL,
  `SL` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `check`
--

DROP TABLE IF EXISTS `check`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `check` (
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `Status` varchar(50) DEFAULT NULL,
  `LinkID` bigint(20) DEFAULT NULL,
  `DisbursementID` varchar(150) DEFAULT NULL,
  `BankID` bigint(20) DEFAULT NULL,
  `SignatoryType` varchar(50) DEFAULT NULL,
  `AccountNumber` bigint(20) DEFAULT NULL,
  `AccountName` varchar(350) DEFAULT NULL,
  `CheckNumber` varchar(50) DEFAULT NULL,
  `BRSTN` varchar(50) DEFAULT NULL,
  `CheckDate` date DEFAULT NULL,
  `Payee` varchar(350) DEFAULT NULL,
  `Amount` decimal(18,2) DEFAULT NULL,
  `Words` varchar(450) DEFAULT NULL,
  `SignatoryOneID` varchar(50) DEFAULT NULL,
  `SignatoryTwoID` varchar(50) DEFAULT NULL,
  `Remarks` varchar(450) DEFAULT NULL,
  `Active` tinyint(1) DEFAULT NULL,
  `CreatedBy` varchar(150) DEFAULT NULL,
  `CreatedDate` datetime DEFAULT NULL,
  `ModifyBy` varchar(150) DEFAULT NULL,
  `ModifyDate` datetime DEFAULT NULL,
  `ApprovalProgress` int(11) DEFAULT NULL,
  `ApprovalVersion` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `citizensregistration`
--

DROP TABLE IF EXISTS `citizensregistration`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `citizensregistration` (
  `ID` bigint(20) NOT NULL,
  `Picture` blob DEFAULT NULL,
  `Suffix` varchar(50) DEFAULT NULL,
  `FirstName` varchar(150) DEFAULT NULL,
  `MiddleName` varchar(150) DEFAULT NULL,
  `LastName` varchar(150) DEFAULT NULL,
  `BirthDate` date DEFAULT NULL,
  `MobileNumber` varchar(150) DEFAULT NULL,
  `EmailAddress` varchar(150) DEFAULT NULL,
  `MothersMaidenName` varchar(250) DEFAULT NULL,
  `CivilStatus` varchar(150) DEFAULT NULL,
  `ValidID` varchar(250) DEFAULT NULL,
  `IDNumber` varchar(150) DEFAULT NULL,
  `FrontID` blob DEFAULT NULL,
  `BackID` blob DEFAULT NULL,
  `Active` tinyint(1) DEFAULT NULL,
  `CreatedBy` varchar(150) DEFAULT NULL,
  `CreatedDate` datetime DEFAULT NULL,
  PRIMARY KEY (`ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `contraaccount`
--

DROP TABLE IF EXISTS `contraaccount`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `contraaccount` (
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `LinkID` bigint(20) DEFAULT NULL,
  `ContraAccountID` varchar(50) DEFAULT NULL,
  `NormalBalance` varchar(50) DEFAULT NULL,
  `Amount` decimal(18,2) DEFAULT NULL,
  PRIMARY KEY (`ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `currency`
--

DROP TABLE IF EXISTS `currency`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `currency` (
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `Code` varchar(50) DEFAULT NULL,
  `Name` varchar(250) DEFAULT NULL,
  `Active` tinyint(1) DEFAULT NULL,
  `CreatedBy` varchar(150) DEFAULT NULL,
  `CreatedDate` datetime DEFAULT NULL,
  `ModifyBy` varchar(150) DEFAULT NULL,
  `ModifyDate` datetime DEFAULT NULL,
  PRIMARY KEY (`ID`),
  UNIQUE KEY `PK_Currency` (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `customer`
--

DROP TABLE IF EXISTS `customer`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `customer` (
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `Code` varchar(50) DEFAULT NULL,
  `Name` varchar(250) DEFAULT NULL,
  `PaymentTermsID` bigint(20) DEFAULT NULL,
  `PaymentMethodID` bigint(20) DEFAULT NULL,
  `TIN` varchar(50) DEFAULT NULL,
  `RDO` varchar(50) DEFAULT NULL,
  `TaxCodeID` bigint(20) DEFAULT NULL,
  `TypeID` bigint(20) DEFAULT NULL,
  `IndustryTypeID` bigint(20) DEFAULT NULL,
  `ContactPerson` varchar(300) DEFAULT NULL,
  `PhoneNumber` varchar(150) DEFAULT NULL,
  `MobileNumber` varchar(150) DEFAULT NULL,
  `EmailAddress` varchar(150) DEFAULT NULL,
  `Website` varchar(250) DEFAULT NULL,
  `StreetAddress` varchar(500) DEFAULT NULL,
  `BarangayID` bigint(20) DEFAULT NULL,
  `MunicipalityID` varchar(50) DEFAULT NULL,
  `ProvinceID` varchar(50) DEFAULT NULL,
  `RegionID` varchar(50) DEFAULT NULL,
  `ZIPCode` varchar(50) DEFAULT NULL,
  `Active` tinyint(1) DEFAULT NULL,
  `CreatedBy` varchar(150) DEFAULT NULL,
  `CreatedDate` datetime DEFAULT NULL,
  `ModifyBy` varchar(150) DEFAULT NULL,
  `ModifyDate` datetime DEFAULT NULL,
  `FirstName` text DEFAULT NULL,
  `MiddleName` text DEFAULT NULL,
  `LastName` text DEFAULT NULL,
  `CivilStatus` varchar(50) DEFAULT NULL,
  `PlaceofBirth` varchar(50) DEFAULT NULL,
  `Gender` varchar(50) DEFAULT NULL,
  `Height` decimal(18,2) DEFAULT NULL,
  `Weight` decimal(18,2) DEFAULT NULL,
  `Birthdate` date DEFAULT NULL,
  `Citizenship` varchar(50) DEFAULT NULL,
  `Occupation` varchar(50) DEFAULT NULL,
  `ICRNumber` bigint(20) DEFAULT NULL,
  `Type` varchar(50) DEFAULT NULL,
  `PlaceofIncorporation` varchar(350) DEFAULT NULL,
  `KindofOrganization` varchar(150) DEFAULT NULL,
  `DateofRegistration` date DEFAULT NULL,
  PRIMARY KEY (`ID`),
  UNIQUE KEY `PK_Customer` (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `datasources`
--

DROP TABLE IF EXISTS `datasources`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `datasources` (
  `ID` int(11) NOT NULL,
  `DataSourceName` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci DEFAULT NULL,
  PRIMARY KEY (`ID`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `department`
--

DROP TABLE IF EXISTS `department`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `department` (
  `ID` int(11) NOT NULL AUTO_INCREMENT,
  `Code` varchar(50) DEFAULT NULL,
  `Name` varchar(150) DEFAULT NULL,
  `Active` tinyint(1) DEFAULT NULL,
  `CreatedBy` varchar(50) DEFAULT NULL,
  `CreatedDate` datetime DEFAULT NULL,
  `ModifyBy` varchar(150) DEFAULT NULL,
  `ModifyDate` datetime DEFAULT NULL,
  PRIMARY KEY (`ID`),
  UNIQUE KEY `PK_Department` (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=45 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `documentaccess`
--

DROP TABLE IF EXISTS `documentaccess`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `documentaccess` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `LinkID` bigint(20) DEFAULT NULL,
  `UserID` bigint(20) DEFAULT NULL,
  `View` tinyint(1) DEFAULT NULL,
  `Add` tinyint(1) DEFAULT NULL,
  `Edit` tinyint(1) DEFAULT NULL,
  `Delete` tinyint(1) DEFAULT NULL,
  `Print` tinyint(1) DEFAULT NULL,
  `Confidential` tinyint(1) DEFAULT NULL,
  `Active` tinyint(1) DEFAULT NULL,
  `CreatedBy` varchar(150) DEFAULT NULL,
  `CreatedDate` datetime DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `documents`
--

DROP TABLE IF EXISTS `documents`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `documents` (
  `ID` bigint(20) NOT NULL,
  `LinkID` bigint(20) DEFAULT NULL,
  `DataImage` blob DEFAULT NULL,
  `DataName` varchar(250) DEFAULT NULL,
  `DataType` varchar(50) DEFAULT NULL,
  `FileName` varchar(250) DEFAULT NULL,
  `FileDate` date DEFAULT NULL,
  `Text1` varchar(250) DEFAULT NULL,
  `Date1` date DEFAULT NULL,
  `Text2` varchar(250) DEFAULT NULL,
  `Date2` date DEFAULT NULL,
  `Text3` varchar(250) DEFAULT NULL,
  `Date3` date DEFAULT NULL,
  `Text4` varchar(250) DEFAULT NULL,
  `Date4` date DEFAULT NULL,
  `Text5` varchar(250) DEFAULT NULL,
  `Date5` date DEFAULT NULL,
  `Text6` varchar(250) DEFAULT NULL,
  `Date6` date DEFAULT NULL,
  `Text7` varchar(250) DEFAULT NULL,
  `Date7` date DEFAULT NULL,
  `Text8` varchar(250) DEFAULT NULL,
  `Date8` date DEFAULT NULL,
  `Text9` varchar(250) DEFAULT NULL,
  `Date9` date DEFAULT NULL,
  `Text10` varchar(250) DEFAULT NULL,
  `Date10` date DEFAULT NULL,
  `Expiration` tinyint(1) DEFAULT NULL,
  `ExpirationDate` date DEFAULT NULL,
  `Confidential` tinyint(1) DEFAULT NULL,
  `PageCount` int(11) DEFAULT NULL,
  `Remarks` text DEFAULT NULL,
  `Active` tinyint(1) DEFAULT NULL,
  `CreatedBy` varchar(150) DEFAULT NULL,
  `CreatedDate` datetime DEFAULT NULL,
  PRIMARY KEY (`ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `documenttype`
--

DROP TABLE IF EXISTS `documenttype`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `documenttype` (
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `Code` varchar(50) DEFAULT NULL,
  `Name` varchar(250) DEFAULT NULL,
  `DocumentTypeCategoryID` bigint(20) DEFAULT NULL,
  `Prefix` varchar(50) DEFAULT NULL,
  `StartNumber` int(11) DEFAULT NULL,
  `CurrentNumber` int(11) DEFAULT NULL,
  `Suffix` varchar(50) DEFAULT NULL,
  `Active` tinyint(1) DEFAULT NULL,
  `CreatedBy` varchar(150) DEFAULT NULL,
  `CreatedDate` datetime DEFAULT NULL,
  `ModifyBy` varchar(150) DEFAULT NULL,
  `ModifyDate` datetime DEFAULT NULL,
  PRIMARY KEY (`ID`),
  UNIQUE KEY `PK_Document Type` (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=42 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `documenttypecategory`
--

DROP TABLE IF EXISTS `documenttypecategory`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `documenttypecategory` (
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `Name` varchar(250) DEFAULT NULL,
  `Active` tinyint(1) DEFAULT NULL,
  `CreatedBy` varchar(150) DEFAULT NULL,
  `CreatedDate` datetime DEFAULT NULL,
  `ModifyBy` varchar(150) DEFAULT NULL,
  `ModifyDate` datetime DEFAULT NULL,
  PRIMARY KEY (`ID`),
  UNIQUE KEY `PK_Document Type Category` (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `employee`
--

DROP TABLE IF EXISTS `employee`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `employee` (
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `Picture` blob DEFAULT NULL,
  `Signature` blob DEFAULT NULL,
  `ReferenceID` bigint(20) DEFAULT NULL,
  `IDNumber` varchar(50) DEFAULT NULL,
  `FirstName` varchar(150) DEFAULT NULL,
  `MiddleName` varchar(150) DEFAULT NULL,
  `LastName` varchar(150) DEFAULT NULL,
  `NationalityID` int(11) DEFAULT NULL,
  `Birthday` date DEFAULT NULL,
  `Gender` varchar(150) DEFAULT NULL,
  `MobileNumber` varchar(150) DEFAULT NULL,
  `EmailAddress` varchar(150) DEFAULT NULL,
  `EmergencyPerson` varchar(250) DEFAULT NULL,
  `EmergencyNumber` varchar(150) DEFAULT NULL,
  `TIN` varchar(150) DEFAULT NULL,
  `SSS` varchar(150) DEFAULT NULL,
  `Pagibig` varchar(50) DEFAULT NULL,
  `Philhealth` varchar(50) DEFAULT NULL,
  `StreetAddress` varchar(500) DEFAULT NULL,
  `BarangayID` bigint(20) DEFAULT NULL,
  `MunicipalityID` varchar(50) DEFAULT NULL,
  `ProvinceID` varchar(50) DEFAULT NULL,
  `RegionID` varchar(50) DEFAULT NULL,
  `ZIPCode` varchar(50) DEFAULT NULL,
  `DateHired` date DEFAULT NULL,
  `EmploymentStatusID` int(11) DEFAULT NULL,
  `EmploymentStatusDate` date DEFAULT NULL,
  `PositionID` int(11) DEFAULT NULL,
  `DepartmentID` int(11) DEFAULT NULL,
  `ReportingTo` bigint(20) DEFAULT NULL,
  `Active` bigint(20) DEFAULT NULL,
  `CreatedBy` varchar(150) DEFAULT NULL,
  `CreatedDate` datetime DEFAULT NULL,
  `ModifyBy` varchar(150) DEFAULT NULL,
  `ModifyDate` datetime DEFAULT NULL,
  PRIMARY KEY (`ID`),
  UNIQUE KEY `PK_Employee` (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `employmentstatus`
--

DROP TABLE IF EXISTS `employmentstatus`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `employmentstatus` (
  `ID` int(11) NOT NULL AUTO_INCREMENT,
  `Name` varchar(250) DEFAULT NULL,
  `Active` tinyint(1) DEFAULT NULL,
  `CreatedBy` varchar(150) DEFAULT NULL,
  `CreatedDate` datetime DEFAULT NULL,
  `ModifyBy` varchar(150) DEFAULT NULL,
  `ModifyDate` datetime DEFAULT NULL,
  PRIMARY KEY (`ID`),
  UNIQUE KEY `PK_Employment Status` (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `fields`
--

DROP TABLE IF EXISTS `fields`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `fields` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `LinkID` bigint(20) DEFAULT NULL,
  `FieldNumber` smallint(6) DEFAULT NULL,
  `Active` tinyint(1) DEFAULT NULL,
  `Description` varchar(150) DEFAULT NULL,
  `DataType` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `financialstatement`
--

DROP TABLE IF EXISTS `financialstatement`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `financialstatement` (
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `Code` varchar(50) DEFAULT NULL,
  `Name` varchar(250) DEFAULT NULL,
  `Active` tinyint(1) DEFAULT NULL,
  `CreatedBy` varchar(150) DEFAULT NULL,
  `CreatedDate` datetime DEFAULT NULL,
  `ModifyBy` varchar(150) DEFAULT NULL,
  `ModifyDate` datetime DEFAULT NULL,
  PRIMARY KEY (`ID`),
  UNIQUE KEY `PK_Financial Statement` (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `fiscalyear`
--

DROP TABLE IF EXISTS `fiscalyear`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `fiscalyear` (
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `Code` varchar(50) DEFAULT NULL,
  `Name` varchar(250) DEFAULT NULL,
  `Year` varchar(50) DEFAULT NULL,
  `MonthStart` varchar(50) DEFAULT NULL,
  `MonthEnd` varchar(50) DEFAULT NULL,
  `Active` tinyint(1) DEFAULT NULL,
  `CreatedBy` varchar(150) DEFAULT NULL,
  `CreatedDate` datetime DEFAULT NULL,
  `ModifyBy` varchar(150) DEFAULT NULL,
  `ModifyDate` datetime DEFAULT NULL,
  `AssessedValue` bigint(20) DEFAULT NULL,
  PRIMARY KEY (`ID`),
  UNIQUE KEY `PK_Fiscal Year` (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `funds`
--

DROP TABLE IF EXISTS `funds`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `funds` (
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `LinkID` bigint(20) DEFAULT NULL,
  `Code` varchar(50) DEFAULT NULL,
  `Name` varchar(150) DEFAULT NULL,
  `Description` text DEFAULT NULL,
  `OriginalAmount` decimal(18,2) DEFAULT NULL,
  `Balance` decimal(18,2) DEFAULT NULL,
  `Total` decimal(18,2) DEFAULT NULL,
  `Active` tinyint(1) DEFAULT NULL,
  PRIMARY KEY (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `generalledger`
--

DROP TABLE IF EXISTS `generalledger`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `generalledger` (
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `LinkID` bigint(20) DEFAULT NULL,
  `FundID` bigint(20) DEFAULT NULL,
  `FundName` varchar(150) DEFAULT NULL,
  `LedgerItem` varchar(350) DEFAULT NULL,
  `AccountName` varchar(350) DEFAULT NULL,
  `AccountCode` varchar(250) DEFAULT NULL,
  `Debit` decimal(18,2) DEFAULT NULL,
  `Credit` decimal(18,2) DEFAULT NULL,
  `CreatedBy` varchar(150) DEFAULT NULL,
  `CreatedDate` datetime DEFAULT NULL,
  `DocumentTypeName` varchar(150) DEFAULT NULL,
  `PostingPeriod` date DEFAULT NULL,
  PRIMARY KEY (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `generalrevision`
--

DROP TABLE IF EXISTS `generalrevision`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `generalrevision` (
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `LinkID` bigint(20) DEFAULT NULL,
  `General_Revision_Date_Year` int(11) DEFAULT NULL,
  `GeneralRevisionCode` varchar(50) DEFAULT NULL,
  `TaxDeclarationCode` varchar(50) DEFAULT NULL,
  `CityorMunicipalityAssessor` varchar(50) DEFAULT NULL,
  `CityorMunicipalityAssistantAssessor` varchar(50) DEFAULT NULL,
  `ProvincialAssessor` varchar(50) DEFAULT NULL,
  `ProvincialAssistantAssessor` varchar(50) DEFAULT NULL,
  `Createdby` varchar(50) DEFAULT NULL,
  `CreatedDate` datetime DEFAULT NULL,
  `Modifiedby` varchar(50) DEFAULT NULL,
  `ModifiedDate` datetime DEFAULT NULL,
  `Active` tinyint(1) DEFAULT NULL,
  `UsingStatus` tinyint(1) DEFAULT NULL,
  PRIMARY KEY (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `homeowner`
--

DROP TABLE IF EXISTS `homeowner`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `homeowner` (
  `ID` bigint(20) NOT NULL,
  `CustomerID` bigint(20) DEFAULT NULL,
  `PropertyCount` smallint(6) DEFAULT NULL,
  PRIMARY KEY (`ID`),
  UNIQUE KEY `PK_Home Owner` (`ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `industrytype`
--

DROP TABLE IF EXISTS `industrytype`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `industrytype` (
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `Name` varchar(250) DEFAULT NULL,
  `Active` bigint(20) DEFAULT NULL,
  `CreatedBy` varchar(150) DEFAULT NULL,
  `CreatedDate` datetime DEFAULT NULL,
  `ModifyBy` varchar(150) DEFAULT NULL,
  `ModifyDate` datetime DEFAULT NULL,
  PRIMARY KEY (`ID`),
  UNIQUE KEY `PK_IndustryType` (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `item`
--

DROP TABLE IF EXISTS `item`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `item` (
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `Code` varchar(50) DEFAULT NULL,
  `Name` varchar(150) DEFAULT NULL,
  `Category` varchar(150) DEFAULT NULL,
  `ChargeAccountID` bigint(20) DEFAULT NULL,
  `TAXCodeID` bigint(20) DEFAULT NULL,
  `UnitID` bigint(20) DEFAULT NULL,
  `EWT` decimal(18,2) DEFAULT NULL,
  `Active` tinyint(1) DEFAULT NULL,
  `CreatedBy` varchar(50) DEFAULT NULL,
  `CreatedDate` datetime DEFAULT NULL,
  `ModifyBy` varchar(150) DEFAULT NULL,
  `ModifyDate` datetime DEFAULT NULL,
  `PurchaseOrSales` varchar(50) DEFAULT NULL,
  `Vatable` tinyint(1) DEFAULT NULL,
  PRIMARY KEY (`ID`),
  UNIQUE KEY `PK_Item` (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `itemunit`
--

DROP TABLE IF EXISTS `itemunit`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `itemunit` (
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `Code` varchar(50) DEFAULT NULL,
  `Name` varchar(150) DEFAULT NULL,
  `Active` tinyint(1) DEFAULT NULL,
  `CreatedBy` varchar(50) DEFAULT NULL,
  `CreatedDate` datetime DEFAULT NULL,
  `ModifyBy` varchar(150) DEFAULT NULL,
  `ModifyDate` datetime DEFAULT NULL,
  PRIMARY KEY (`ID`),
  UNIQUE KEY `PK_Item Unit` (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `journalentryvoucher`
--

DROP TABLE IF EXISTS `journalentryvoucher`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `journalentryvoucher` (
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `LinkID` bigint(20) DEFAULT NULL,
  `ResponsibilityCenter` varchar(250) DEFAULT NULL,
  `FundName` varchar(150) DEFAULT NULL,
  `LedgerItem` varchar(350) DEFAULT NULL,
  `AccountName` varchar(350) DEFAULT NULL,
  `AccountCode` varchar(250) DEFAULT NULL,
  `Debit` decimal(18,2) DEFAULT NULL,
  `Credit` decimal(18,2) DEFAULT NULL,
  `CreatedBy` varchar(150) DEFAULT NULL,
  `CreatedDate` datetime DEFAULT NULL,
  `DocumentTypeName` varchar(150) DEFAULT NULL,
  `PR` varchar(150) DEFAULT NULL,
  `Particulars` varchar(200) DEFAULT NULL,
  PRIMARY KEY (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `lgu`
--

DROP TABLE IF EXISTS `lgu`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `lgu` (
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `Logo` varchar(1000) DEFAULT NULL,
  `Code` varchar(50) DEFAULT NULL,
  `Name` varchar(250) DEFAULT NULL,
  `TIN` varchar(50) DEFAULT NULL,
  `RDO` varchar(50) DEFAULT NULL,
  `PhoneNumber` varchar(150) DEFAULT NULL,
  `EmailAddress` varchar(150) DEFAULT NULL,
  `Website` varchar(250) DEFAULT NULL,
  `StreetAddress` varchar(500) DEFAULT NULL,
  `BarangayID` bigint(20) DEFAULT NULL,
  `MunicipalityID` bigint(20) DEFAULT NULL,
  `ProvinceID` bigint(20) DEFAULT NULL,
  `RegionID` bigint(20) DEFAULT NULL,
  `ZIPCode` varchar(50) DEFAULT NULL,
  `Active` bigint(20) DEFAULT NULL,
  `CreatedBy` varchar(150) DEFAULT NULL,
  `CreatedDate` datetime DEFAULT NULL,
  `ModifyBy` varchar(150) DEFAULT NULL,
  `ModifyDate` datetime DEFAULT NULL,
  PRIMARY KEY (`ID`),
  UNIQUE KEY `PK_LGU` (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `logoimages`
--

DROP TABLE IF EXISTS `logoimages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `logoimages` (
  `ID` int(11) NOT NULL,
  `Image` varchar(255) CHARACTER SET utf8mb3 COLLATE utf8mb3_general_ci DEFAULT NULL,
  PRIMARY KEY (`ID`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `marketvaluematrix`
--

DROP TABLE IF EXISTS `marketvaluematrix`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `marketvaluematrix` (
  `ID` bigint(20) NOT NULL,
  `Classification` bigint(20) DEFAULT NULL,
  `UnitValue` decimal(18,2) DEFAULT NULL,
  `DateFrom` date DEFAULT NULL,
  `DateTo` date DEFAULT NULL,
  `Createdby` bigint(20) DEFAULT NULL,
  `CreatedDate` date DEFAULT NULL,
  `Modifiedby` bigint(20) DEFAULT NULL,
  `ModifiedDate` date DEFAULT NULL,
  PRIMARY KEY (`ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `marriagerecord`
--

DROP TABLE IF EXISTS `marriagerecord`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `marriagerecord` (
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `LinkID` bigint(20) DEFAULT NULL,
  `CustomerID` bigint(20) DEFAULT NULL,
  `CustomerAge` int(11) DEFAULT NULL,
  `MarytoID` bigint(20) DEFAULT NULL,
  `MarrytoAge` int(11) DEFAULT NULL,
  `Cenomar` varchar(50) DEFAULT NULL,
  `RegisterNumber` varchar(50) DEFAULT NULL,
  `CreatedBy` bigint(20) DEFAULT NULL,
  `CreatedDate` date DEFAULT NULL,
  `ModifyBy` bigint(20) DEFAULT NULL,
  `ModifyDate` date DEFAULT NULL,
  PRIMARY KEY (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `matrixclassification`
--

DROP TABLE IF EXISTS `matrixclassification`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `matrixclassification` (
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `Name` varchar(50) DEFAULT NULL,
  `Createdby` bigint(20) DEFAULT NULL,
  `CreatedDate` date DEFAULT NULL,
  `Modifiedby` bigint(20) DEFAULT NULL,
  `ModifiedDate` date DEFAULT NULL,
  `Active` tinyint(1) DEFAULT NULL,
  `UsingStatus` tinyint(1) DEFAULT NULL,
  PRIMARY KEY (`ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `matrixlocation_description`
--

DROP TABLE IF EXISTS `matrixlocation_description`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `matrixlocation_description` (
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `LocationorDescription` varchar(50) DEFAULT NULL,
  `Createdby` bigint(20) DEFAULT NULL,
  `CreatedDate` date DEFAULT NULL,
  `Modifiedby` bigint(20) DEFAULT NULL,
  `ModifiedDate` date DEFAULT NULL,
  `Active` tinyint(1) DEFAULT NULL,
  `UsingStatus` tinyint(1) DEFAULT NULL,
  PRIMARY KEY (`ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `module`
--

DROP TABLE IF EXISTS `module`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `module` (
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `Description` varchar(150) DEFAULT NULL,
  PRIMARY KEY (`ID`),
  UNIQUE KEY `PK_Module` (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=98 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `moduleaccess`
--

DROP TABLE IF EXISTS `moduleaccess`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `moduleaccess` (
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `UserAccessID` bigint(20) DEFAULT NULL,
  `ModuleID` bigint(20) DEFAULT NULL,
  `View` tinyint(1) DEFAULT NULL,
  `Add` tinyint(1) DEFAULT NULL,
  `Edit` tinyint(1) DEFAULT NULL,
  `Delete` tinyint(1) DEFAULT NULL,
  `Print` tinyint(1) DEFAULT NULL,
  `Mayor` tinyint(1) DEFAULT NULL,
  PRIMARY KEY (`ID`),
  UNIQUE KEY `PK_Module Access` (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=572 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `municipality`
--

DROP TABLE IF EXISTS `municipality`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `municipality` (
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `PSGCCode` varchar(50) DEFAULT NULL,
  `Name` varchar(250) DEFAULT NULL,
  `RegionCode` varchar(50) DEFAULT NULL,
  `ProvinceCode` varchar(50) DEFAULT NULL,
  `Code` varchar(50) DEFAULT NULL,
  `Active` tinyint(1) DEFAULT NULL,
  `CreatedBy` varchar(150) DEFAULT NULL,
  `CreatedDate` datetime DEFAULT NULL,
  `ModifyBy` varchar(150) DEFAULT NULL,
  `ModifyDate` datetime DEFAULT NULL,
  `PIN` int(11) DEFAULT NULL,
  PRIMARY KEY (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `nationality`
--

DROP TABLE IF EXISTS `nationality`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `nationality` (
  `ID` int(11) NOT NULL AUTO_INCREMENT,
  `Name` varchar(250) DEFAULT NULL,
  `Active` tinyint(1) DEFAULT NULL,
  `CreatedBy` varchar(150) DEFAULT NULL,
  `CreatedDate` datetime DEFAULT NULL,
  `ModifyBy` varchar(150) DEFAULT NULL,
  `ModifyDate` datetime DEFAULT NULL,
  PRIMARY KEY (`ID`),
  UNIQUE KEY `PK_Nationality` (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `noticationtable`
--

DROP TABLE IF EXISTS `noticationtable`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `noticationtable` (
  `ID` bigint(20) NOT NULL,
  `AddressID` bigint(20) DEFAULT NULL,
  `Message` varchar(550) DEFAULT NULL,
  `OriginForm` varchar(250) DEFAULT NULL,
  `OriginID` bigint(20) DEFAULT NULL,
  `LinkID` bigint(20) DEFAULT NULL,
  `SentDate` datetime DEFAULT NULL,
  `ReceivedDate` datetime DEFAULT NULL,
  `Read` tinyint(1) DEFAULT NULL,
  PRIMARY KEY (`ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `paymentmethod`
--

DROP TABLE IF EXISTS `paymentmethod`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `paymentmethod` (
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `Code` varchar(50) DEFAULT NULL,
  `Name` varchar(250) DEFAULT NULL,
  `Active` tinyint(1) DEFAULT NULL,
  `CreatedBy` varchar(150) DEFAULT NULL,
  `CreatedDate` datetime DEFAULT NULL,
  `ModifyBy` varchar(150) DEFAULT NULL,
  `ModifyDate` datetime DEFAULT NULL,
  PRIMARY KEY (`ID`),
  UNIQUE KEY `PK_Payment Method` (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `paymentterms`
--

DROP TABLE IF EXISTS `paymentterms`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `paymentterms` (
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `Code` varchar(50) DEFAULT NULL,
  `Name` varchar(250) DEFAULT NULL,
  `NumberOfDays` int(11) DEFAULT NULL,
  `Active` tinyint(1) DEFAULT NULL,
  `CreatedBy` varchar(150) DEFAULT NULL,
  `CreatedDate` datetime DEFAULT NULL,
  `ModifyBy` varchar(150) DEFAULT NULL,
  `ModifyDate` datetime DEFAULT NULL,
  PRIMARY KEY (`ID`),
  UNIQUE KEY `PK_Payment Terms` (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `position`
--

DROP TABLE IF EXISTS `position`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `position` (
  `ID` int(11) NOT NULL AUTO_INCREMENT,
  `Name` varchar(150) DEFAULT NULL,
  `Active` tinyint(1) DEFAULT NULL,
  `CreatedBy` varchar(150) DEFAULT NULL,
  `CreatedDate` datetime DEFAULT NULL,
  `ModifyBy` varchar(150) DEFAULT NULL,
  `ModifyDate` datetime DEFAULT NULL,
  PRIMARY KEY (`ID`),
  UNIQUE KEY `PK_Position Level` (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `ppe`
--

DROP TABLE IF EXISTS `ppe`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ppe` (
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `LinkID` bigint(20) DEFAULT NULL,
  `CategoryID` bigint(20) DEFAULT NULL,
  `SupplierID` bigint(20) DEFAULT NULL,
  `PPENumber` varchar(50) DEFAULT NULL,
  `Unit` varchar(50) DEFAULT NULL,
  `Description` text DEFAULT NULL,
  `Cost` decimal(10,2) DEFAULT NULL,
  `Barcode` varchar(50) DEFAULT NULL,
  `Quantity` int(11) DEFAULT NULL,
  `DateAcquired` datetime DEFAULT NULL,
  `EstimatedUsefulLife` int(11) DEFAULT NULL,
  `DepreciationRate` decimal(10,2) DEFAULT NULL,
  `DepreciationValue` decimal(10,2) DEFAULT NULL,
  `NetBookValue` decimal(10,2) DEFAULT NULL,
  `PONumber` varchar(50) DEFAULT NULL,
  `PRNumber` varchar(50) DEFAULT NULL,
  `InvoiceNumber` varchar(50) DEFAULT NULL,
  `AIRNumber` varchar(50) DEFAULT NULL,
  `RISNumber` varchar(50) DEFAULT NULL,
  `Remarks` text DEFAULT NULL,
  `Active` tinyint(1) DEFAULT NULL,
  `ModifiedBy` varchar(100) DEFAULT NULL,
  `ModifiedDate` datetime DEFAULT NULL,
  `CreatedBy` varchar(100) DEFAULT NULL,
  `CreatedDate` datetime DEFAULT NULL,
  PRIMARY KEY (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `ppecategory`
--

DROP TABLE IF EXISTS `ppecategory`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ppecategory` (
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `Name` varchar(100) DEFAULT NULL,
  `Active` tinyint(1) DEFAULT NULL,
  `CreatedBy` varchar(50) DEFAULT NULL,
  `CreatedDate` datetime DEFAULT NULL,
  `ModifiedBy` varchar(50) DEFAULT NULL,
  `ModifiedDate` datetime DEFAULT NULL,
  PRIMARY KEY (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `ppesupplier`
--

DROP TABLE IF EXISTS `ppesupplier`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ppesupplier` (
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `Name` varchar(100) DEFAULT NULL,
  `Active` tinyint(1) DEFAULT NULL,
  `CreatedBy` varchar(50) DEFAULT NULL,
  `CreatedDate` datetime DEFAULT NULL,
  `ModifiedBy` varchar(50) DEFAULT NULL,
  `ModifiedDate` datetime DEFAULT NULL,
  PRIMARY KEY (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `project`
--

DROP TABLE IF EXISTS `project`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `project` (
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `Title` text DEFAULT NULL,
  `ProjectTypeID` bigint(20) DEFAULT NULL,
  `Description` text DEFAULT NULL,
  `StartDate` date DEFAULT NULL,
  `EndDate` date DEFAULT NULL,
  `Active` tinyint(1) DEFAULT NULL,
  PRIMARY KEY (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `projecttype`
--

DROP TABLE IF EXISTS `projecttype`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `projecttype` (
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `Type` varchar(50) DEFAULT NULL,
  `Description` text DEFAULT NULL,
  `Active` tinyint(1) DEFAULT NULL,
  PRIMARY KEY (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `property`
--

DROP TABLE IF EXISTS `property`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `property` (
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `OwnerID` bigint(20) DEFAULT NULL,
  `AreaSize` decimal(18,2) DEFAULT NULL,
  `Unit` varchar(50) DEFAULT NULL,
  `PIN` bigint(20) NOT NULL,
  `Block` varchar(50) DEFAULT NULL,
  `Lot` varchar(50) DEFAULT NULL,
  `Street` varchar(50) DEFAULT NULL,
  `BarangayID` bigint(20) DEFAULT NULL,
  `MunicipalityID` bigint(20) DEFAULT NULL,
  `RegionID` bigint(20) DEFAULT NULL,
  `ZipCode` int(11) DEFAULT NULL,
  `C` varchar(50) DEFAULT NULL,
  `Type` varchar(50) DEFAULT NULL,
  `Name` varchar(50) DEFAULT NULL,
  `Classification` varchar(50) DEFAULT NULL,
  `SubClassification` varchar(50) DEFAULT NULL,
  `Preparedby` bigint(20) DEFAULT NULL,
  `CreatedDate` date DEFAULT NULL,
  `OCT_TCT_CLOA_NO` varchar(50) DEFAULT NULL,
  `CoOwnerID` bigint(20) DEFAULT NULL,
  `BeneficialUserID` bigint(20) DEFAULT NULL,
  `AdministratorID` bigint(20) DEFAULT NULL,
  `AdvancePayment` bigint(20) DEFAULT NULL,
  `AdvanceYear` date DEFAULT NULL,
  `T_D_No` bigint(20) DEFAULT NULL,
  PRIMARY KEY (`ID`),
  UNIQUE KEY `PK_Property` (`ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `propertyassessmentlevel`
--

DROP TABLE IF EXISTS `propertyassessmentlevel`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `propertyassessmentlevel` (
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `ClassificationID` bigint(20) DEFAULT NULL,
  `LandClassification` varchar(50) DEFAULT NULL,
  `ValueFrom` decimal(18,2) DEFAULT NULL,
  `ValueTo` decimal(18,2) DEFAULT NULL,
  `AssessmentLevel` tinyint(4) DEFAULT NULL,
  `Createdby` bigint(20) DEFAULT NULL,
  `CreatedDate` date DEFAULT NULL,
  `Modifiedby` bigint(20) DEFAULT NULL,
  `ModifiedDate` date DEFAULT NULL,
  `Active` tinyint(1) DEFAULT NULL,
  PRIMARY KEY (`ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `propertyclassifications`
--

DROP TABLE IF EXISTS `propertyclassifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `propertyclassifications` (
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `GeneralRevisionYear` int(11) DEFAULT NULL,
  `Classification` varchar(50) DEFAULT NULL,
  `SubClassification` varchar(50) DEFAULT NULL,
  `Createdby` varchar(50) DEFAULT NULL,
  `CreatedDate` date DEFAULT NULL,
  `Modifiedby` varchar(50) DEFAULT NULL,
  `ModifiedDate` date DEFAULT NULL,
  `Active` tinyint(1) DEFAULT NULL,
  `UsingStatus` tinyint(1) DEFAULT NULL,
  PRIMARY KEY (`ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `propertycoowners`
--

DROP TABLE IF EXISTS `propertycoowners`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `propertycoowners` (
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `PropertyID` bigint(20) DEFAULT NULL,
  `CoOwnerID` bigint(20) DEFAULT NULL,
  `CreatedDate` date DEFAULT NULL,
  `Createdby` bigint(20) DEFAULT NULL,
  PRIMARY KEY (`ID`),
  UNIQUE KEY `PK_Property Co Owners` (`ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `propertyimproved`
--

DROP TABLE IF EXISTS `propertyimproved`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `propertyimproved` (
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `OwnerID` bigint(20) DEFAULT NULL,
  `AreaSize` decimal(18,2) DEFAULT NULL,
  `Unit` varchar(50) DEFAULT NULL,
  `LandPIN` bigint(20) DEFAULT NULL,
  `PIN` bigint(20) NOT NULL,
  `AddressID` bigint(20) DEFAULT NULL,
  `Block` varchar(50) DEFAULT NULL,
  `Lot` varchar(50) DEFAULT NULL,
  `Street` varchar(50) DEFAULT NULL,
  `BarangayID` bigint(20) DEFAULT NULL,
  `MunicipalityID` bigint(20) DEFAULT NULL,
  `RegionID` bigint(20) DEFAULT NULL,
  `ZipCode` int(11) DEFAULT NULL,
  `C` varchar(50) DEFAULT NULL,
  `Type` varchar(50) DEFAULT NULL,
  `Name` varchar(50) DEFAULT NULL,
  `Classification` varchar(50) DEFAULT NULL,
  `SubClassification` varchar(50) DEFAULT NULL,
  `Preparedby` bigint(20) DEFAULT NULL,
  `CreatedDate` date DEFAULT NULL,
  `OCT_TCT_CLOA_NO` varchar(50) DEFAULT NULL,
  `CoOwnerID` bigint(20) DEFAULT NULL,
  `BeneficialUserID` bigint(20) DEFAULT NULL,
  `AdministratorID` bigint(20) DEFAULT NULL,
  `AdvancePayment` bigint(20) DEFAULT NULL,
  `AdvanceYear` date DEFAULT NULL,
  `T_D_No` bigint(20) DEFAULT NULL,
  PRIMARY KEY (`ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `propertytaxdeclaration`
--

DROP TABLE IF EXISTS `propertytaxdeclaration`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `propertytaxdeclaration` (
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `T_D_No` bigint(20) DEFAULT NULL,
  `PropertyID` bigint(20) DEFAULT NULL,
  `OwnerID` varchar(50) DEFAULT NULL,
  `OwnerTIN` bigint(20) DEFAULT NULL,
  `OwnerAddress` varchar(50) DEFAULT NULL,
  `OwnerTelephoneNumber` bigint(20) DEFAULT NULL,
  `BeneficialorAdminUserID` varchar(50) DEFAULT NULL,
  `BeneficialorAdminTIN` bigint(20) DEFAULT NULL,
  `BeneficialorAdminAddress` varchar(50) DEFAULT NULL,
  `BeneficialorAdminTelephoneNumber` bigint(20) DEFAULT NULL,
  `OCT/TCT/CLOA Number` bigint(20) DEFAULT NULL,
  `CCT` varchar(50) DEFAULT NULL,
  `LotNumber` varchar(50) DEFAULT NULL,
  `BlockNumber` varchar(50) DEFAULT NULL,
  `Dated` date DEFAULT NULL,
  `North` varchar(50) DEFAULT NULL,
  `East` varchar(50) DEFAULT NULL,
  `South` varchar(50) DEFAULT NULL,
  `West` varchar(50) DEFAULT NULL,
  `KindofProperty` varchar(50) DEFAULT NULL,
  `Description` varchar(200) DEFAULT NULL,
  `AssessedValue` decimal(18,2) DEFAULT NULL,
  `AmountInWords` varchar(100) DEFAULT NULL,
  `Taxable` tinyint(1) DEFAULT NULL,
  `SurveyNumber` bigint(20) DEFAULT NULL,
  `Type` varchar(50) DEFAULT NULL,
  `Classification` varchar(50) DEFAULT NULL,
  `ActualUse` varchar(50) DEFAULT NULL,
  `Storeys` bigint(20) DEFAULT NULL,
  `MarketValue` decimal(18,2) DEFAULT NULL,
  `CancelTDNumber` bigint(20) DEFAULT NULL,
  `PreviousAssessedValue` decimal(18,2) DEFAULT NULL,
  `Createdby` varchar(50) DEFAULT NULL,
  `CreatedDate` date DEFAULT NULL,
  `Class` varchar(50) DEFAULT NULL,
  `AssessmentLevel` decimal(18,2) DEFAULT NULL,
  `Modifiedby` bigint(20) DEFAULT NULL,
  `Modifieddate` date DEFAULT NULL,
  `Active` tinyint(1) DEFAULT NULL,
  `GeneralRevision` int(11) DEFAULT NULL,
  PRIMARY KEY (`ID`),
  UNIQUE KEY `PK_Property Tax Declaration` (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `province`
--

DROP TABLE IF EXISTS `province`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `province` (
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `PSGCCode` varchar(50) DEFAULT NULL,
  `RegionCode` varchar(50) DEFAULT NULL,
  `Code` varchar(50) DEFAULT NULL,
  `Name` varchar(150) DEFAULT NULL,
  `Active` tinyint(1) DEFAULT NULL,
  `CreatedBy` varchar(150) DEFAULT NULL,
  `CreatedDate` datetime DEFAULT NULL,
  `ModifyBy` varchar(150) DEFAULT NULL,
  `ModifyDate` datetime DEFAULT NULL,
  `PIN` int(11) DEFAULT NULL,
  PRIMARY KEY (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `publicmarketticketing`
--

DROP TABLE IF EXISTS `publicmarketticketing`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `publicmarketticketing` (
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `LinkID` bigint(20) DEFAULT NULL,
  `Items` varchar(250) DEFAULT NULL,
  `StartTime` varchar(50) DEFAULT NULL,
  `EndTime` varchar(50) DEFAULT NULL,
  `IssuedBy` varchar(250) DEFAULT NULL,
  `DateIssued` date DEFAULT NULL,
  `AmountIssued` decimal(10,2) DEFAULT NULL,
  `PostingPeriod` date DEFAULT NULL,
  `Remarks` text DEFAULT NULL,
  `Active` tinyint(1) DEFAULT NULL,
  `CreatedBy` varchar(50) DEFAULT NULL,
  `CreatedDate` date DEFAULT NULL,
  PRIMARY KEY (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `purchaseitems`
--

DROP TABLE IF EXISTS `purchaseitems`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `purchaseitems` (
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `LinkID` bigint(20) DEFAULT NULL,
  `Quantity` bigint(20) DEFAULT NULL,
  `Unit` varchar(50) DEFAULT NULL,
  `ItemID` bigint(20) DEFAULT NULL,
  `Cost` decimal(18,2) DEFAULT NULL,
  PRIMARY KEY (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `region`
--

DROP TABLE IF EXISTS `region`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `region` (
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `PSGCCode` varchar(50) DEFAULT NULL,
  `Name` varchar(250) DEFAULT NULL,
  `Code` varchar(50) DEFAULT NULL,
  `Active` tinyint(1) DEFAULT NULL,
  `CreatedBy` varchar(150) DEFAULT NULL,
  `CreatedDate` datetime DEFAULT NULL,
  `ModifyBy` varchar(150) DEFAULT NULL,
  `ModifyDate` datetime DEFAULT NULL,
  PRIMARY KEY (`ID`),
  UNIQUE KEY `PK_Region_1` (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `scheduleofbaseunitmarketvalue`
--

DROP TABLE IF EXISTS `scheduleofbaseunitmarketvalue`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `scheduleofbaseunitmarketvalue` (
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `GeneralRevisionYear` int(11) DEFAULT NULL,
  `Classification` varchar(50) DEFAULT NULL,
  `Location` varchar(100) DEFAULT NULL,
  `Unit` varchar(50) DEFAULT NULL,
  `ActualUse` varchar(50) DEFAULT NULL,
  `SubClassification` varchar(50) DEFAULT NULL,
  `Price` decimal(18,2) DEFAULT NULL,
  `Createdby` varchar(50) DEFAULT NULL,
  `CreatedDate` date DEFAULT NULL,
  `Modifiedby` varchar(50) DEFAULT NULL,
  `ModifiedDate` char(10) DEFAULT NULL,
  `Active` tinyint(1) DEFAULT NULL,
  `UsingStatus` tinyint(1) DEFAULT NULL,
  PRIMARY KEY (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `serviceinvoiceaccounts`
--

DROP TABLE IF EXISTS `serviceinvoiceaccounts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `serviceinvoiceaccounts` (
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `Name` varchar(150) DEFAULT NULL,
  `ChartofAccountsID` bigint(20) DEFAULT NULL,
  `CreatedBy` varchar(50) DEFAULT NULL,
  `CreatedDate` date DEFAULT NULL,
  `ModifyBy` varchar(150) DEFAULT NULL,
  `ModifyDate` datetime DEFAULT NULL,
  `Rate` decimal(18,2) DEFAULT NULL,
  PRIMARY KEY (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `signatories`
--

DROP TABLE IF EXISTS `signatories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `signatories` (
  `ID` int(11) NOT NULL,
  `DocumentTypeID` int(11) DEFAULT NULL,
  `SequenceNumber` int(11) DEFAULT NULL,
  `EmployeeID` int(11) DEFAULT NULL,
  PRIMARY KEY (`ID`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `subdepartment`
--

DROP TABLE IF EXISTS `subdepartment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `subdepartment` (
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `Code` varchar(50) DEFAULT NULL,
  `Name` varchar(150) DEFAULT NULL,
  `DepartmentID` bigint(20) DEFAULT NULL,
  `Active` tinyint(1) DEFAULT NULL,
  `CreatedBy` varchar(50) DEFAULT NULL,
  `CreatedDate` datetime DEFAULT NULL,
  `ModifyBy` varchar(150) DEFAULT NULL,
  `ModifyDate` datetime DEFAULT NULL,
  PRIMARY KEY (`ID`),
  UNIQUE KEY `PK_Subdepartment` (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `subfunds`
--

DROP TABLE IF EXISTS `subfunds`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `subfunds` (
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `LinkID` bigint(20) DEFAULT NULL,
  `Code` varchar(50) DEFAULT NULL,
  `Name` varchar(150) DEFAULT NULL,
  `Description` text DEFAULT NULL,
  `Amount` decimal(18,2) DEFAULT NULL,
  `FundsID` bigint(20) DEFAULT NULL,
  `Active` tinyint(1) DEFAULT NULL,
  PRIMARY KEY (`ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `taxcode`
--

DROP TABLE IF EXISTS `taxcode`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `taxcode` (
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `Code` varchar(50) DEFAULT NULL,
  `Name` varchar(1000) DEFAULT NULL,
  `Rate` decimal(18,2) DEFAULT NULL,
  `Type` varchar(150) DEFAULT NULL,
  `Active` tinyint(1) DEFAULT NULL,
  `CreatedBy` varchar(150) DEFAULT NULL,
  `CreatedDate` datetime DEFAULT NULL,
  `ModifyBy` varchar(150) DEFAULT NULL,
  `ModifyDate` datetime DEFAULT NULL,
  PRIMARY KEY (`ID`),
  UNIQUE KEY `PK_Tax Code` (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `taxdeclarationproperty`
--

DROP TABLE IF EXISTS `taxdeclarationproperty`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `taxdeclarationproperty` (
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `Kind` varchar(50) DEFAULT NULL,
  `T_D_No` bigint(20) DEFAULT NULL,
  `PropertyID` bigint(20) DEFAULT NULL,
  `Classification` varchar(50) DEFAULT NULL,
  `Area` bigint(20) DEFAULT NULL,
  `MarketValue` decimal(18,2) DEFAULT NULL,
  `ActualUse` varchar(50) DEFAULT NULL,
  `AssessmentLevel` bigint(20) DEFAULT NULL,
  `AssessmentValue` decimal(18,2) DEFAULT NULL,
  `GeneralRevision` int(11) DEFAULT NULL,
  PRIMARY KEY (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `transactionitems`
--

DROP TABLE IF EXISTS `transactionitems`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `transactionitems` (
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `LinkID` bigint(20) DEFAULT NULL,
  `ItemID` bigint(20) DEFAULT NULL,
  `ChargeAccountID` bigint(20) DEFAULT NULL,
  `Quantity` decimal(18,2) DEFAULT NULL,
  `ItemUnitID` bigint(20) DEFAULT NULL,
  `Price` decimal(18,2) DEFAULT NULL,
  `PriceVatExclusive` decimal(18,2) DEFAULT NULL,
  `Sub_Total` decimal(18,2) DEFAULT NULL,
  `Active` tinyint(1) DEFAULT NULL,
  `CreatedBy` varchar(150) DEFAULT NULL,
  `CreatedDate` datetime DEFAULT NULL,
  `ModifyBy` varchar(150) DEFAULT NULL,
  `ModifyDate` datetime DEFAULT NULL,
  `TAXCodeID` bigint(20) DEFAULT NULL,
  `UniqueID` char(36) CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL,
  `Debit` decimal(18,2) DEFAULT NULL,
  `Credit` decimal(18,2) DEFAULT NULL,
  `Discounted` decimal(18,2) DEFAULT NULL,
  `Sub_Total_Vat_Ex` decimal(18,2) DEFAULT NULL,
  `BankID` bigint(20) DEFAULT NULL,
  `SecondAccountID` bigint(20) DEFAULT NULL,
  `TaxName` varchar(50) DEFAULT NULL,
  `TaxRate` decimal(18,2) DEFAULT NULL,
  `VoucherLink` bigint(20) DEFAULT NULL,
  `InvoiceNumber` varchar(150) DEFAULT NULL,
  `Remarks` text DEFAULT NULL,
  `EWT` decimal(18,2) DEFAULT NULL,
  `WithheldAmount` decimal(18,2) DEFAULT NULL,
  `Vat_Total` decimal(18,2) DEFAULT NULL,
  `EWTRate` decimal(18,2) DEFAULT NULL,
  `Discounts` decimal(18,2) DEFAULT NULL,
  `DiscountRate` decimal(18,2) DEFAULT NULL,
  `AmountDue` decimal(18,2) DEFAULT NULL,
  `FPP` varchar(250) DEFAULT NULL,
  `NormalBalance` varchar(150) DEFAULT NULL,
  `ResponsibilityCenter` varchar(50) DEFAULT NULL,
  `Vatable` tinyint(1) DEFAULT NULL,
  PRIMARY KEY (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=98 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `transactionproperty`
--

DROP TABLE IF EXISTS `transactionproperty`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `transactionproperty` (
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `LinkID` text DEFAULT NULL,
  `Municipality` varchar(50) DEFAULT NULL,
  `Owner` varchar(100) DEFAULT NULL,
  `Location` varchar(100) DEFAULT NULL,
  `LotAndBlock` varchar(50) DEFAULT NULL,
  `T_D_No` varchar(50) DEFAULT NULL,
  `Classification` varchar(50) DEFAULT NULL,
  `LandPrice` decimal(18,2) DEFAULT NULL,
  `ImprovementPrice` decimal(18,2) DEFAULT NULL,
  `TotalAssessedValue` decimal(18,2) DEFAULT NULL,
  `TaxDue` varchar(50) DEFAULT NULL,
  `Installment_No` decimal(18,2) DEFAULT NULL,
  `InstallmentPayment` decimal(18,2) DEFAULT NULL,
  `RemainingBalance` decimal(18,2) DEFAULT NULL,
  `FullPayment` decimal(18,2) DEFAULT NULL,
  `Penalty` decimal(18,2) DEFAULT NULL,
  `Total` decimal(18,2) DEFAULT NULL,
  `RequestedBy` varchar(50) DEFAULT NULL,
  `CreatedDate` date DEFAULT NULL,
  `CreatedBy` varchar(50) DEFAULT NULL,
  `Block` varchar(50) DEFAULT NULL,
  `Discount` varchar(50) DEFAULT NULL,
  `Present` tinyint(1) DEFAULT NULL,
  `Lot` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`ID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `transactiontable`
--

DROP TABLE IF EXISTS `transactiontable`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `transactiontable` (
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `LinkID` varchar(50) DEFAULT NULL,
  `Status` varchar(50) DEFAULT NULL,
  `APAR` varchar(150) DEFAULT NULL,
  `DocumentTypeID` bigint(20) DEFAULT NULL,
  `RequestedBy` bigint(20) DEFAULT NULL,
  `InvoiceDate` date DEFAULT NULL,
  `CustomerID` bigint(20) DEFAULT NULL,
  `CustomerName` varchar(250) DEFAULT NULL,
  `ReferenceNumber` varchar(150) DEFAULT NULL,
  `P_O_Number` varchar(150) DEFAULT NULL,
  `D_R_Number` varchar(150) DEFAULT NULL,
  `InvoiceNumber` varchar(150) DEFAULT NULL,
  `BillingDueDate` date DEFAULT NULL,
  `BillingAddress` text DEFAULT NULL,
  `ShippingAddress` text DEFAULT NULL,
  `PaymentTermsID` bigint(20) DEFAULT NULL,
  `PaymentMethodID` bigint(20) DEFAULT NULL,
  `Total` decimal(18,2) DEFAULT NULL,
  `AmountReceived` decimal(18,2) DEFAULT NULL,
  `RemainingBalance` decimal(18,2) DEFAULT NULL,
  `PaymentType` varchar(50) DEFAULT NULL,
  `Remarks` varchar(500) DEFAULT NULL,
  `Credit` decimal(18,2) DEFAULT NULL,
  `Debit` decimal(18,2) DEFAULT NULL,
  `Active` tinyint(1) DEFAULT NULL,
  `PlaceIssued` varchar(150) DEFAULT NULL,
  `TIN` varchar(150) DEFAULT NULL,
  `BusinessEarnings` decimal(18,2) DEFAULT NULL,
  `OccupationEarnings` decimal(18,2) DEFAULT NULL,
  `IncomeProperty` decimal(18,2) DEFAULT NULL,
  `BusinessTaxDue` decimal(18,2) DEFAULT NULL,
  `OccupationTaxDue` decimal(18,2) DEFAULT NULL,
  `PropertyTaxDue` decimal(18,2) DEFAULT NULL,
  `Interest` decimal(18,2) DEFAULT NULL,
  `BasicTax` decimal(18,2) DEFAULT NULL,
  `Year` varchar(50) DEFAULT NULL,
  `BankID` varchar(50) DEFAULT NULL,
  `uniqueID` char(36) CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL,
  `Municipality` varchar(50) DEFAULT NULL,
  `LandValue` decimal(18,2) DEFAULT NULL,
  `ImprovementValue` decimal(18,2) DEFAULT NULL,
  `ReceivedFrom` varchar(50) DEFAULT NULL,
  `CreatedBy` varchar(150) DEFAULT NULL,
  `CreatedDate` datetime DEFAULT NULL,
  `TaxName` varchar(150) DEFAULT NULL,
  `TaxRate` decimal(18,2) DEFAULT NULL,
  `VendorID` bigint(20) DEFAULT NULL,
  `TaxableSale` decimal(18,2) DEFAULT NULL,
  `ReceivedPaymentBy` text DEFAULT NULL,
  `CheckNumber` varchar(100) DEFAULT NULL,
  `ModifyBy` varchar(150) DEFAULT NULL,
  `ModifyDate` datetime DEFAULT NULL,
  `AmountinWords` text DEFAULT NULL,
  `PreviousPayment` decimal(18,2) DEFAULT NULL,
  `PropertyID` varchar(50) DEFAULT NULL,
  `EWT` decimal(18,2) DEFAULT NULL,
  `WithheldAmount` decimal(18,2) DEFAULT NULL,
  `Vat_Total` decimal(18,2) DEFAULT NULL,
  `Discounts` decimal(18,2) DEFAULT NULL,
  `AmountDue` decimal(18,2) DEFAULT NULL,
  `VATExcludedPrice` decimal(18,2) DEFAULT NULL,
  `ModeofPayment` varchar(50) DEFAULT NULL,
  `EmployeeID` bigint(20) DEFAULT NULL,
  `ResponsibilityCenter` bigint(20) DEFAULT NULL,
  `T_D_No` text DEFAULT NULL,
  `OfficeUnitProject` varchar(150) DEFAULT NULL,
  `Balance` decimal(18,2) DEFAULT NULL,
  `ObligationRequestNumber` varchar(150) DEFAULT NULL,
  `ApprovalProgress` int(11) DEFAULT NULL,
  `BudgetID` bigint(20) DEFAULT NULL,
  `TargetID` bigint(20) DEFAULT NULL,
  `FundsID` bigint(20) DEFAULT NULL,
  `ContraAccountID` bigint(20) DEFAULT NULL,
  `ContraNormalBalance` varchar(50) DEFAULT NULL,
  `Paid` tinyint(1) DEFAULT NULL,
  `GeneralRevision` int(11) DEFAULT NULL,
  `InstallmentID` bigint(20) DEFAULT NULL,
  `ApprovalVersion` varchar(50) DEFAULT NULL,
  `AdvancedYear` int(11) DEFAULT NULL,
  `AdvanceFunds` decimal(18,2) DEFAULT NULL,
  `JEVType` varchar(50) DEFAULT NULL,
  `TravelLink` varchar(150) DEFAULT NULL,
  `FiscalYearID` bigint(20) DEFAULT NULL,
  `ProjectID` bigint(20) DEFAULT NULL,
  `SAI_No` varchar(50) DEFAULT NULL,
  `SAIDate` date DEFAULT NULL,
  `ALOBSDate` date DEFAULT NULL,
  `PayeeBank` varchar(150) DEFAULT NULL,
  `CheckDate` date DEFAULT NULL,
  `MoneyOrder` varchar(150) DEFAULT NULL,
  `MoneyOrderDate` date DEFAULT NULL,
  `PostingDate` date DEFAULT NULL,
  `CurrentBalance` decimal(18,2) DEFAULT NULL,
  PRIMARY KEY (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=233 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `traveldocuments`
--

DROP TABLE IF EXISTS `traveldocuments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `traveldocuments` (
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `LinkID` bigint(20) DEFAULT NULL,
  `Name` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `travelers`
--

DROP TABLE IF EXISTS `travelers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `travelers` (
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `LinkID` bigint(20) DEFAULT NULL,
  `TravelerID` bigint(20) DEFAULT NULL,
  PRIMARY KEY (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `travelorder`
--

DROP TABLE IF EXISTS `travelorder`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `travelorder` (
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `Status` varchar(50) DEFAULT NULL,
  `LinkID` bigint(20) DEFAULT NULL,
  `InvoiceNumber` varchar(150) DEFAULT NULL,
  `CreatedBy` bigint(20) DEFAULT NULL,
  `TravelerID` bigint(20) DEFAULT NULL,
  `BudgetID` bigint(20) DEFAULT NULL,
  `DateCreated` date DEFAULT NULL,
  `DateStart` date DEFAULT NULL,
  `DateEnd` date DEFAULT NULL,
  `No_of_Days` bigint(20) DEFAULT NULL,
  `InclusivesDate` varchar(100) DEFAULT NULL,
  `Purpose` text DEFAULT NULL,
  `Place` text DEFAULT NULL,
  `Venue` text DEFAULT NULL,
  `RequiredDocuments` text DEFAULT NULL,
  `Cost` decimal(18,2) DEFAULT NULL,
  `Remarks` varchar(100) DEFAULT NULL,
  `Plane` tinyint(1) DEFAULT NULL,
  `Vessels` tinyint(1) DEFAULT NULL,
  `PUV` tinyint(1) DEFAULT NULL,
  `ServiceVehicle` tinyint(1) DEFAULT NULL,
  `RentedVehicle` tinyint(1) DEFAULT NULL,
  `ApprovalProgress` bigint(20) DEFAULT NULL,
  `ApprovalVersion` varchar(50) DEFAULT NULL,
  `ObligationLink` varchar(150) DEFAULT NULL,
  `DepartmentID` bigint(20) DEFAULT NULL,
  `PositionID` bigint(20) DEFAULT NULL,
  PRIMARY KEY (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `travelpayment`
--

DROP TABLE IF EXISTS `travelpayment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `travelpayment` (
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `LinkID` bigint(20) DEFAULT NULL,
  `Amount` decimal(18,2) DEFAULT NULL,
  `Type` tinyint(1) DEFAULT NULL,
  `BudgetID` bigint(20) DEFAULT NULL,
  PRIMARY KEY (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `useraccess`
--

DROP TABLE IF EXISTS `useraccess`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `useraccess` (
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `Description` varchar(150) DEFAULT NULL,
  `Active` tinyint(1) DEFAULT NULL,
  `CreatedBy` varchar(50) DEFAULT NULL,
  `CreatedDate` datetime DEFAULT NULL,
  PRIMARY KEY (`ID`),
  UNIQUE KEY `PK_User Access` (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `EmployeeID` bigint(20) DEFAULT NULL,
  `UserName` varchar(255) NOT NULL,
  `Password` varchar(255) NOT NULL,
  `UserAccessID` bigint(20) DEFAULT NULL,
  `Active` tinyint(1) NOT NULL,
  `CreatedBy` varchar(255) NOT NULL,
  `CreatedDate` datetime NOT NULL,
  `PositionID` int(11) DEFAULT NULL,
  PRIMARY KEY (`ID`),
  UNIQUE KEY `PK_Users` (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=27 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `useruseraccess`
--

DROP TABLE IF EXISTS `useruseraccess`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `useruseraccess` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `UserID` bigint(20) DEFAULT NULL,
  `UserAccessID` bigint(20) DEFAULT NULL,
  `createdAt` datetime NOT NULL,
  `updatedAt` datetime NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=28 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `vendor`
--

DROP TABLE IF EXISTS `vendor`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `vendor` (
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `Code` varchar(50) DEFAULT NULL,
  `Name` varchar(250) DEFAULT NULL,
  `PaymentTermsID` bigint(20) DEFAULT NULL,
  `PaymentMethodID` bigint(20) DEFAULT NULL,
  `DeliveryLeadTime` int(11) DEFAULT NULL,
  `TIN` varchar(50) DEFAULT NULL,
  `RDO` varchar(50) DEFAULT NULL,
  `Vatable` tinyint(1) DEFAULT NULL,
  `TaxCodeID` bigint(20) DEFAULT NULL,
  `TypeID` bigint(20) DEFAULT NULL,
  `IndustryTypeID` bigint(20) DEFAULT NULL,
  `ContactPerson` varchar(500) DEFAULT NULL,
  `PhoneNumber` varchar(150) DEFAULT NULL,
  `MobileNumber` varchar(150) DEFAULT NULL,
  `EmailAddress` varchar(150) DEFAULT NULL,
  `Website` varchar(250) DEFAULT NULL,
  `StreetAddress` varchar(500) DEFAULT NULL,
  `BarangayID` bigint(20) DEFAULT NULL,
  `MunicipalityID` varchar(50) DEFAULT NULL,
  `ProvinceID` varchar(50) DEFAULT NULL,
  `RegionID` varchar(50) DEFAULT NULL,
  `ZIPCode` varchar(50) DEFAULT NULL,
  `Active` tinyint(1) DEFAULT NULL,
  `CreatedBy` varchar(150) DEFAULT NULL,
  `CreatedDate` datetime DEFAULT NULL,
  `ModifyBy` varchar(150) DEFAULT NULL,
  `ModifyDate` datetime DEFAULT NULL,
  `PlaceofIncorporation` varchar(350) DEFAULT NULL,
  `KindofOrganization` varchar(150) DEFAULT NULL,
  `DateofRegistration` date DEFAULT NULL,
  PRIMARY KEY (`ID`),
  UNIQUE KEY `PK_Vendor` (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `vendorcustomertype`
--

DROP TABLE IF EXISTS `vendorcustomertype`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `vendorcustomertype` (
  `ID` int(11) NOT NULL AUTO_INCREMENT,
  `Name` varchar(150) DEFAULT NULL,
  `Active` bigint(20) DEFAULT NULL,
  `CreatedBy` varchar(150) DEFAULT NULL,
  `CreatedDate` datetime DEFAULT NULL,
  `ModifyBy` varchar(150) DEFAULT NULL,
  `ModifyDate` datetime DEFAULT NULL,
  PRIMARY KEY (`ID`),
  UNIQUE KEY `PK_VendorCustomerType` (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `vendortype`
--

DROP TABLE IF EXISTS `vendortype`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `vendortype` (
  `ID` bigint(20) NOT NULL AUTO_INCREMENT,
  `Name` varchar(250) DEFAULT NULL,
  `Active` tinyint(1) DEFAULT NULL,
  `CreatedBy` varchar(150) DEFAULT NULL,
  `CreatedDate` datetime DEFAULT NULL,
  `ModifyBy` varchar(150) DEFAULT NULL,
  `ModifyDate` datetime DEFAULT NULL,
  PRIMARY KEY (`ID`),
  UNIQUE KEY `PK_VendorType` (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `watermarks`
--

DROP TABLE IF EXISTS `watermarks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `watermarks` (
  `ID` int(11) NOT NULL,
  `Confidential` tinyint(4) DEFAULT NULL,
  `LGUName` tinyint(4) DEFAULT NULL,
  PRIMARY KEY (`ID`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-01-15 15:05:46
